# Terraform
00-tf-playground/.terraform/
00-tf-playground/*.tfstate
00-tf-playground/*.tfstate.*
00-tf-playground/crash.log
00-tf-playground/*.tfplan
00-tf-playground/terraform.tfvars.json
00-tf-playground/override.tf
00-tf-playground/override.tf.json
00-tf-playground/*_override.tf
00-tf-playground/*_override.tf.json

# Logs
*.log
*.bak

# VSCode
.vscode/
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json

# Lock
00-tf-playground/.terraform.lock.hcl

# Tmp
planfile
*.backup
history
myenv/